  body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle at top, #ffe6ee, #ffd1dc);
    font-family: Nunito, sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    z-index: 5;
}

h1 {
    color: #c9184a;
    font-size: 3em;
}

.gif_container img {
    width: 300px;
    border-radius: 25px;
}
